{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}How to Tango with Django!{% endblock %}
{% block body_block %}
    <body>
        <h1>About Rango</h1>
        <strong>{{mensagem_em_negrito}}</strong><br />
        <a href="/rango/">Index</a><br />
        <img src="{% static 'images/rango2.jpeg' %}" alt="Picture of About Rango" />
    </body>
{% endblock body_block %}