{% extends 'rango/base.html' %}
{% block title %}How to Tango with Django!{% endblock %}
{% block body_block %}
<body>
<h1>Adicione uma Categoria</h1>

<form id="category_form" method="post" action="/rango/add_category/">

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
    {% endfor %}

    <input type="submit" name="submit" value="Crie a Categoria" />
</form>

</br> <a href="{% url 'index'}">Index</a><br />

</body>
{% endblock body_block %}