{% extends 'rango/base.html' %}
{% block title %}How to Tango with Django!{% endblock %}
{% block body_block %}
<body>
<h1>Adicione uma página em {{ category.name }}</h1>

<form id="page_form" method="post" action="/rango/category/{{ category.slug }}/add_page/">

    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field.help_text }}
        {{ field }}
    {% endfor %}

    <input type="submit" name="submit" value="Crie a Página na Categoria {{ category.name }}" />
</form>

</br> <a href="/rango/">Index</a><br />

</body>
{% endblock body_block %}