{% extends 'rango/base.html' %}
{% block title %}How to Tango with Django!{% endblock %}
{% block body_block %}
<h1>{{ category_name }}</h1>


{% if category %}
    {%  if  pages %}
        <ol>
            {% for page in pages %}
                <li> <a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a> ({{ page.views }})</li>
            {% endfor %}
        </ol>
        {% if user.is_authenticated %}
            </br> <a href="{% url 'add_page' category.slug %}">Adicione uma Nova Página</a><br />
        {%  endif %}
    {%  else %}
        <strong>Não existem páginas nessa categoria.</strong>
    {% endif %}
{% else %}
    <strong>A categoria {{ category_name }} não existe!</strong>
{% endif %}
{% endblock body_block %}