{% extends 'rango/base.html' %}
{% block body_block %}
<h1>Rango</h1>
{% if user.is_authenticated %}
<h1>Olá {{ user.username }}!</h1>
{% else %}
<h1>Olá visitante!</h1>
{% endif %}

<h2>Top 5 Categorias mais curtidas:</h2>

{% if categories %}
<ol>
    {% for category in categories %}
    <li> <a href="{% url 'category' category.slug %}">{{ category.name }}</a> ({{ category.likes }})</li>
    {% endfor %}
</ol>
{% else %}
<strong>Não existem categorias.</strong>
{% endif %}

<h2>Top 5 Páginas mais visitadas:</h2>

{% if pages %}
<ol>
    {% for page in pages %}
    <li> <a href="{{ page.url }}">{{ page.title }}</a> ({{ page.views }})</li>
    {% endfor %}
</ol>
{% else %}
<strong>Não existem páginas.</strong>
{% endif %}

{% endblock body_block %}