{% extends 'rango/base.html' %}
{% block title %}How to Tango with Django!{% endblock %}
{% block body_block %}
<body>
<h1>Login no Rango</h1>

<form id="login_form" method="post" action="/rango/login/">
    {% csrf_token %}
    Nome do Usuário: <input type="text" name="username" value="" size="50" />
    <br />
    Senha: <input type="password" name="password" value="" size="50" />
    <br />

    <input type="submit" value="Login" />
</form>

</body>
{% endblock body_block %}
