{% extends 'rango/base.html' %}
{% block title %}How to Tango with Django!{% endblock %}
{% block body_block %}
<body>
<h1>Registre-se no Rango</h1>

{% if registered %}
    <strong>Obrigado por registrar-se!</strong>
    <a href="{% url 'index'}">Voltar a homepage.</a><br />
{% else %}
    <strong>Registre-se aqui!</strong><br />

    <form id="user_form" method="post" action="/rango/register/"
          enctype="multipart/form-data">

        {% csrf_token %}

        {{ user_form.as_p }}
        {{ profile_form.as_p }}

        <input type="submit" name="submit" value="Registre-se" />
    </form>
{% endif %}
</body>
{% endblock body_block %}