{% extends 'rango/base.html' %}
{% block title %}How to Tango with Django!{% endblock %}
{% block body_block %}
<body>
 <h1>Pagina restrita no Rango</h1>
  <strong> Como voce esta autenticado como {{user.username}} conssegue ver essa pagina!</strong>
</body>
{% endblock body_block %}